@use '../abstract' as *;

.footer {
    &_wrapper {
        @include mediaQuery {
            @include grid(2, 5rem);

        }
    }
    &_links {
        @include mediaQuery {
            @include flex;
            gap: 5rem;
            justify-self: flex-end;
            li, h4 {
                text-align: right;
            }
            li {
                margin-bottom: .5rem;
                font-size: 1.4rem;
            }
        }
        
    }
    &_form {
        margin-bottom: 2rem;
        form {
            position: relative;
            input {
                width: 100%;
                padding: 1rem;
                border: none;
                border-bottom: 1px solid $clr-dark;
                outline: none;
            }
            button {
                position: absolute;
                top: 1rem;
                right: 0;
                background: transparent;
                border: none;
                font-weight: bold;
            }
        }
    }

    &_bottom {
        text-align: center;
        font-size: 1.2rem;
        opacity: 0.5;
        padding: .5rem  0;
        
        @include mediaQuery {
            margin-top: 3rem;
            @include flex(space-between, center);
            ul {
                @include flex(space-between, center);
                gap: 2rem;
            }
        }

        ul li:nth-last-child(-n+2) {
            display: none;
            @include mediaQuery {
                display: block;
            }
        }
    }
}